.header {
  padding: 30px 30px 0 30px;
  margin-bottom: 53px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header_logo {
}
.header_navigation {
}
.header_navigation_list {
  display: flex;
  vertical-align: middle;
}
.header_navigation_list_item {
  color: white;
  margin: 0 30px;
  text-transform: capitalize;
  transition: 0.2s;
}
.header_navigation_list_item:hover {
  transform: scale(1.5);
  margin: 0 40px;
}

.header_navigation_list_item a {
  color: white;
  transition: 0.2s;
}

.header_navigation_list_item a:hover {
  color: #d5621d;
}

.reserve_button {
  text-transform: uppercase;
}

.reserve_button a {
  color: white;
  padding: 15px 30px;
  border: 1px solid #d5621d;
  border-radius: 5px;
  transition: 0.2s;
}

.reserve_button a:hover {
  background: #d5621d;
}
